.Landing {
  &__hero {
    display: grid;
    grid-template-columns: 1fr;
    height: 150vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        to right bottom,
        rgba(rgb(90, 90, 90), 0.8),
        rgba(#000, 0.8)
      ),
      url(https://images.pexels.com/photos/163036/mario-luigi-yoschi-figures-163036.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  }

  &__content {
    display: inherit;
    grid-template-columns: 1fr;
    text-align: center;
    color: white;

    h1 {
      align-self: center;
      justify-self: center;
      font-size: 5rem;
    }

    p {
      justify-self: center;
      font-size: 2rem;
    }
  }
}
