.Signup {
  margin: 0 10rem;

  &__form-group {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;

    input {
      border-radius: 2px;
      width: 25%;
      height: 5rem;
      font-size: 2.5rem;
      padding-left: 0.5rem;
    }
  }
}
